@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f1eded;
font-family: 'Signika Negative', sans-serif;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
/* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url("./assets/boxHeroImg.jpg"); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sign-up-form, .login-form{
  display: flex;
  flex-direction: column;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
